<!DOCTYPE html>
<html>
<head>
<title>OTUS Linux Professional Subject: DOCKER</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Welcome!</h1>         
<p>It's a custom web page of Otus Linux Professional Homework. Subject: DOCKER</p>
                                               
<p>Nginx is running in docker container.<br/>                
                                                       
For details see: <a href="https://github.com/bonyakevich-e/otus_lp_lesson_19_docker">github</a>.</p>   
                                              
</body>                                       
</html>      
